body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #a7b3a5;
  font-size: 14px; }

.bor {
  border: 3px solid red; }

.main-text {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.09375em; }

.card-color {
  background: #2a3846;
  color: #fff; }

.second-card-title {
  font-size: 2.1875em; }

.main-img {
  width: 300px;
  height: 400px; }

.right-card {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.nav-box {
  padding: 1.5rem; }

.display-main {
  font-size: 2.0625em;
  font-weight: 300;
  padding-right: 0.125em; }

.icon-links {
  color: inherit; }

.header-icons {
  font-size: 1.4375em;
  cursor: pointer; }

.fa-twitter {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .fa-twitter:hover {
    color: #00aced; }

.fa-github {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .fa-github:hover {
    color: #723c74; }

.fa-linkedin {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .fa-linkedin:hover {
    color: #007bb5; }

.fa-pinterest {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .fa-pinterest:hover {
    color: #cb2027; }

.header-accent {
  background: #592f5a;
  color: #fff;
  padding: .5rem; }

.full-stack {
  padding-left: 1.5rem; }

.port-item {
  width: 25%;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity;
  border-bottom: 5px solid transparent; }
  .port-item .fa {
    font-size: 1.875em; }

.port-item:hover {
  opacity: 0.8;
  border-bottom: 2px solid #5d37a2;
  cursor: pointer; }

.icon-name {
  font-size: 0.625em; }

.backdrop {
  background: #1d2731;
  color: #fff; }

.tech-container {
  background: #fff;
  padding-top: 1px;
  padding-bottom: 1px; }

.about-title {
  font-size: 2.5em; }

.icon-color {
  color: #592f5a; }

.icon-size {
  font-size: 1.875em; }

.tech-tools {
  color: #555555; }

.contact-backdrop {
  background-color: #592f5a;
  color: #fff;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity; }
  .contact-backdrop:hover {
    opacity: 0.94;
    cursor: pointer; }

.work-card {
  -webkit-transition: all 0.195s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.195s cubic-bezier(0.4, 0, 0.2, 1); }

.work-card:hover {
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
  z-index: 100;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.card-img-top {
  min-height: 12.8125em; }

.tech-item {
  height: 2.1875em;
  width: 2.1875em;
  margin: 0 0.4375em; }

.mongo-leaf {
  margin: 0; }

.footer-style {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa; }

.footer-style:hover {
  color: #98519A;
  border-color: #98519A; }

.footer-style:focus, .footer-style.focus {
  -webkit-box-shadow: 0 0 0 1px rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 1px rgba(248, 249, 250, 0.5); }

@media only screen and (max-width: 61.9375em) {
  .img-container {
    display: none; } }

@media only screen and (min-width: 48em) {
  .second-card-title {
    font-size: 3.4375em;
    padding-bottom: 0.625em; }
  .nav-box {
    padding: 3rem; }
  .display-main {
    font-size: 3.75em;
    padding-right: 0; }
  .header-icons {
    font-size: 2em; }
  .full-stack {
    padding-left: 3rem;
    font-size: 1.1875em; }
  .port-item .fa {
    font-size: 2.8125em; }
  .icon-name {
    font-size: 1.125em; }
  .about-title {
    font-size: 2.8125em; }
  .main-text {
    font-size: 1.3125em; } }

@media only screen and (min-width: 62em) {
  .nav-box {
    padding: 3.2rem; }
  .display-main {
    font-size: 5.625em; }
  .header-icons {
    font-size: 2em; }
  .header-accent {
    padding: .6rem; }
  .port-item .fa {
    font-size: 3.4375em;
    padding: 8.5px; }
  .icon-name {
    font-size: 1.25em; } }
