body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #a7b3a5; }

.display-main {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.1; }

.main-text {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.09375em; }

.card-color {
  background: #2a3846;
  color: #fff; }

.second-card-title {
  font-size: 3.4375em; }

#main-header img {
  width: 100%;
  height: 100%; }

#main-header .icon-links {
  color: inherit; }

#main-header .header-icons {
  font-size: 1.5625em;
  padding: 0.3125em;
  cursor: pointer; }

#main-header .fa-twitter {
  transition: color 0.3s; }
  #main-header .fa-twitter:hover {
    color: #00aced; }

#main-header .fa-github {
  transition: color 0.3s; }
  #main-header .fa-github:hover {
    color: #723c74; }

#main-header .fa-linkedin {
  transition: color 0.3s; }
  #main-header .fa-linkedin:hover {
    color: #007bb5; }

#main-header .fa-pinterest {
  transition: color 0.3s; }
  #main-header .fa-pinterest:hover {
    color: #cb2027; }

#main-header .header-accent {
  background: #592f5a;
  color: #fff; }

#main-header .full-stack {
  padding-left: 2.6rem; }

#main-header .port-item {
  width: 25%;
  transition: 0.3s ease opacity;
  border-bottom: 5px solid transparent; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  border-bottom: 2px solid #5d37a2;
  cursor: pointer; }

.backdrop {
  background: #1d2731;
  color: #fff; }

.tech-container {
  background: #DADADA;
  padding-top: 1px;
  padding-bottom: 1px; }

.about-title {
  font-size: 2.5em; }

.icon-color {
  color: #592f5a; }

.icon-size {
  font-size: 1.875em; }

.tech-tools {
  color: #555555; }

.contact-backdrop {
  background-color: #592f5a;
  color: #fff;
  transition: 0.3s ease opacity; }
  .contact-backdrop:hover {
    opacity: 0.94;
    cursor: pointer; }

.footer-style {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa; }

.footer-style:hover {
  color: #98519A;
  border-color: #98519A; }

.footer-style:focus, .footer-style.focus {
  box-shadow: 0 0 0 1px rgba(248, 249, 250, 0.5); }

@media (min-width: 74.9375em) {
  .port-item {
    padding: 3em !important; }
  .last-item {
    padding-left: 7.1875em; } }

@media only screen and (max-width: 31.25em) {
  .display-main {
    font-size: 1.5rem; }
  .icon-name {
    font-size: 0.625em; } }
