body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #a7b3a5; }

.display-main {
  font-size: 4.75rem;
  font-weight: 300;
  line-height: 1.1; }

.main-text {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.09375em; }

.card-color {
  background: #2a3846;
  color: #fff; }

.second-card-title {
  font-size: 3.4375em; }

.main-img {
  width: 100%;
  height: 100%; }

.icon-links {
  color: inherit; }

.header-icons {
  font-size: 1.5625em;
  padding: 0.3125em;
  cursor: pointer; }

.fa-twitter {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .fa-twitter:hover {
    color: #00aced; }

.fa-github {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .fa-github:hover {
    color: #723c74; }

.fa-linkedin {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .fa-linkedin:hover {
    color: #007bb5; }

.fa-pinterest {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .fa-pinterest:hover {
    color: #cb2027; }

.header-accent {
  background: #592f5a;
  color: #fff; }

.full-stack {
  padding-left: 2.6rem; }

.port-item {
  width: 25%;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity;
  border-bottom: 5px solid transparent; }
  .port-item .fa {
    font-size: 2em; }

.port-item:hover {
  opacity: 0.8;
  border-bottom: 2px solid #5d37a2;
  cursor: pointer; }

.backdrop {
  background: #1d2731;
  color: #fff; }

.tech-container {
  background: #fff;
  padding-top: 1px;
  padding-bottom: 1px; }

.about-title {
  font-size: 2.5em; }

.icon-color {
  color: #592f5a; }

.icon-size {
  font-size: 1.875em; }

.tech-tools {
  color: #555555; }

.contact-backdrop {
  background-color: #592f5a;
  color: #fff;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity; }
  .contact-backdrop:hover {
    opacity: 0.94;
    cursor: pointer; }

.card {
  -webkit-transition: all 0.195s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.195s cubic-bezier(0.4, 0, 0.2, 1); }

.card:hover {
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
  z-index: 100;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.tech-item {
  height: 2.1875em;
  width: 2.1875em;
  margin: 0 0.4375em; }

.mongo-leaf {
  margin: 0; }

.footer-style {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa; }

.footer-style:hover {
  color: #98519A;
  border-color: #98519A; }

.footer-style:focus, .footer-style.focus {
  -webkit-box-shadow: 0 0 0 1px rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 1px rgba(248, 249, 250, 0.5); }

@media only screen and (min-width: 62em) {
  .port-item {
    padding: 2.69em !important; }
  .last-item {
    padding-left: 7.1875em; }
  .main-img {
    height: 100%;
    width: 100%; } }

@media only screen and (min-width: 61.9375em) {
  .main-img {
    max-height: 24.375em;
    max-width: 24.375em; } }

@media only screen and (max-width: 61.875em) {
  .display-main {
    font-size: 3rem; } }

@media only screen and (max-width: 48.125em) {
  .column-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .display-main {
    font-size: 3.3rem; }
  .main-img {
    display: none; } }

@media only screen and (max-width: 31.25em) {
  .display-main {
    font-size: 1.5rem; }
  .icon-name {
    font-size: 0.625em; }
  .display-main {
    font-size: 1.8rem; }
  #main-header .header-icons {
    font-size: 15px; } }
