.backdrop {
    background: $main-card;
    color: $text-color;
}

.tech-container {
    background: $white-backdrop;
    padding-top: 1px;
    padding-bottom: 1px;
}
.about-title {
    font-size: em(40);
}

.icon-color {
    color: $eggplant;
  }

.icon-size {
    font-size: em(30);
}


.tech-tools {
    color: $tech-color;
}