
  
  .backdrop {
    background: #1d2731;
    color: #fff;
  }
  
  .bg-purple {
    background: #5D37A2;
    color: #fff;
  }

  .card-color {
    background: #2a3846;
    color: #fff;
  }

  .icon-color {
    color: #592F5A;
  }

  .contact-backdrop {
    background-color: #592f5a;
    color: #fff;
  }