#main-header {
  img {
    width: 100%;
    height: 100%;
  }

  .icon-links {
    color: inherit;
  }

  .header-icons {
    font-size: em(25);
    padding: em(5);
    cursor: pointer;
  }

  .fa-twitter {
    transition: color 0.3s;
    &:hover {
      color: $twitter-color;
    }
  }

  .fa-github {
    transition: color 0.3s;
    &:hover {
      color: $github-color;
    }
  }

  .fa-linkedin {
    transition: color 0.3s;
    &:hover {
      color: $linkedin-color;
    }
  }

  .fa-pinterest {
    transition: color 0.3s;
    &:hover {
      color: $pinterest-color;
    }
  }

  .header-accent {
    background: $eggplant;
    color: $text-color;
  }
  .full-stack {
    padding-left: 2.6rem;
  }
  .port-item {
    width: 25%;
    transition: 0.3s ease opacity;
    border-bottom: 5px solid transparent;
    .fa {
      font-size: 2em;
    }
  }

  .port-item:hover {
    opacity: 0.8;
    border-bottom: 2px solid #5d37a2;
    cursor: pointer;
  }
}
