@media only screen and (max-width: em(991)) {
  .img-container {
    display: none;
  }
}

@media only screen and (max-width: em(420)) {
  .container {
    padding: 5px;
  }
}

@media only screen and (min-width: em(768)) {
  .second-card-title {
    font-size: em(55);
    padding-bottom: em(10);
  }

  .nav-box {
    padding: 3rem;
  }

  .display-main {
    font-size: em(60);
    padding-right: 0;
  }

  .header-icons {
    font-size: em(32);
  }

  .full-stack {
    padding-left: 3rem;
    font-size: em(19);
  }

  .port-item .fa {
    font-size: em(45);
  }

  .icon-name {
    font-size: em(18);
  }

  .about-title {
    font-size: em(45);
  }

  .main-text {
    font-size: em(21);
  }

  .portfolio-list {
    flex-direction: row;
  }

  .work-card {
    min-width: 400px;
  }
}

@media only screen and (min-width: em(992)) {
  .nav-box {
    padding: 3.2rem;
  }

  .display-main {
    font-size: em(70);
  }

  .header-icons {
    font-size: em(32);
  }

  .header-accent {
    padding: 0.6rem;
  }

  .port-item .fa {
    font-size: em(53);
    padding: 1.5rem;
  }

  .icon-name {
    font-size: em(20);
  }

  .work-card {
    min-width: em(300);
  }
}
