// @media (min-width: em(1199)) {
// }

@media only screen and (min-width: em(992)) {
  
  .port-item {
    padding: 2.69em !important;
  }
  .last-item {
    padding-left: em(115);
  }

  .main-img {
    height: 100%;
    width: 100%
  }
}

@media only screen and (min-width: em(991)) {
  .main-img {
    max-height: em(390);
    max-width: em(390);
  }
}

@media only screen and (max-width: em(990)) {
  .display-main {
    font-size: 3rem;
  }
}


@media only screen and (max-width: em(770)) {
  .column-md{
    flex-direction: column;;
  }

  .display-main {
    font-size: 3.3rem;
  }

  .main-img {
    display: none;
  }
}

@media only screen and (max-width: em(500)) {
  .display-main {
    font-size: 1.5rem;
  }

  .icon-name {
    font-size: em(10);
  }

  .display-main {
    font-size: 1.8rem;
  }

  #main-header .header-icons {
    font-size: 15px;
  }
}
